# =========================
# Python
# =========================

__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# Flask
instance/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Python packaging
*.egg-info/
dist/
build/


# =========================
# JavaScript
# =========================

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db
