{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}"> 
{% endblock %} 

{% block page_title %} Profile {% endblock %} 

{% block main_content %}
<h1 class="title">Profile</h1>
<div class="profile__top">
  <img src="" alt="" class="profile__img" />
  <div class="progress">
    <p class="greet">
      Hello, {{ user_name }}!
    </p>
    <p class="record">
      <span class="record-span">Best score:</span> {{ best_score }}
    </p>
  </div>
</div>
{% if history %}
<table class="history">
  <thead>
    <tr class="history__head">
      <th class="history__text history__text--columns">Title</th>
      <th class="history__text history__text--columns">Date</th>
      <th class="history__text history__text--columns">Time</th>
      <th class="history__text history__text--columns">CPM</th>
      <th class="history__text history__text--columns">WPM</th>
      <th class="history__text history__text--columns">Accuracy</th>
      <th class="history__text history__text--columns">Score</th>
    </tr>
  </thead>
  <tbody>
    {% for record in history %}
    <tr class="history__body">
      <td class="history__text history__text--data">{{ record.text_title }}</td>
      <td class="history__text history__text--data">{{ record.formatted_date }}</td>
      <td class="history__text history__text--data">{{ record.formatted_time }}</td>
      <td class="history__text history__text--data">{{ record.cpm }}</td>
      <td class="history__text history__text--data">{{ record.wpm }}</td>
      <td class="history__text history__text--data">{{ record.accuracy }}</td>
      <td class="history__text history__text--data">{{ record.score }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
