{% extends "base.html" %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/auth.css') }}">
{% endblock %}

{% block page_title %}
Register
{% endblock %}

{% block main_content %}
<h1 class="title">Register</h1>
<form class="auth-form" method="post">
  <label class="auth-form__label">
    <span class="auth-form__text">Name</span>
    <input type="text" name="name" class="auth-form__input" placeholder="Name..." spellcheck="false">
  </label>

  <label class="auth-form__label">
    <span class="auth-form__text">Password</span>
    <input type="password" name="password" class="auth-form__input" placeholder="Password..." spellcheck="false">
  </label>
  

  <button type="submit" class="btn">Register</button>
</form>
{% endblock %}
