.title {
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-color);
}


.profile__top {
  display: flex;
  margin-bottom: 60px;
}

.profile__img {
  width: 190px;
  height: 190px;
  background-color: gray;
  margin-right: 20px;
}

.greet {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--primary-color);
}

.record {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--primary-color);
}

.record-span {
  font-size: 20px;
}
/* === table === */
.history {
  width: 1030px;
  table-layout: fixed;
  border-spacing: 0;

  margin-right: auto;
  margin-left: auto;
}

.history td:nth-child(1),
.history th:nth-child(1) {
  width: 330px;
}

.history td:nth-child(2),
.history th:nth-child(2) {
  width: 126px;
}

.history td:nth-child(3),
.history th:nth-child(3),
.history td:nth-child(7),
.history th:nth-child(7) {
  width: 67px;
}

.history td:nth-child(4),
.history th:nth-child(4),
.history td:nth-child(5),
.history th:nth-child(5) {
  width: 64px;
}

.history td:nth-child(6),
.history th:nth-child(6) {
  width: 94px;
}

.history__head {
  height: 58px;
  background-color: var(--header-bg-color);
}

.history__body {
  height: 58px;
  background-color: var(--second-bg-color);
}

.history__body:nth-child(2n) {
  background-color: var(--white-color);
}

.history__text {
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: start;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.history__text--columns {
  color: var(--white-color);
}

.history__text--data {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-right: 30px;
  color: var(--primary-color);
}

.history__text:first-child {
  padding-left: 16px;
}

.history__text:last-child {
  padding-right: 16px;
}
