:root {
  --primary-color: #416693;
  --bg-color: #E6FAF8;
  --gray-text-color: #B1B3CA;
  --white-color: #fff;
  --black-color: #000000;
  --header-bg-color: #446493;
  --accent-color: #68BABD;
  --accent-tr-color: rgba(104, 186, 189, 0.4);
  --danger-tr-color: rgba(250, 152, 139, 0.4);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-text-color);
  background-color: var(--bg-color);
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}

.btn {
  display: flex;
  align-items: center;

  height: 52px;
  padding: 16px 48.5px;
  margin-left: auto;

  font-weight: 600;
  font-size: 20px;
  line-height: 1em;
  letter-spacing: 0%;
  color: var(--black-color);
  background-color: var(--bg-color);
  border: 4px solid var(--accent-color);
  border-radius: 20px;

}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* header */

.header {
  background-color: var(--header-bg-color);
}


.container--header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}


.logo {
  display: block;
  font-weight: 700;
  font-size: 42px;
  /* line-height */
  letter-spacing: 0%;
  color: var(--white-color);
}

.auth {
  display: flex;
  margin-left: auto;
  gap: 34px;
}

.auth__btn {
  display: block;
  color: var(--white-color);
  font-weight: 700;
  font-size: 24px;
}
.auth__btn:hover,
.auth_btn:focus {
  border-bottom: 2px solid var(--white-color);
}
