{% extends "base.html" %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/manage_text.css') }}">
{% endblock %}

{% block page_title %}Add{% endblock %}

{% block main_content %}
<h1 class="title">Add</h1>
<form method="post" class="manage-form">
  <label>
    <span class="manage-form__text">Title</span>
    <input type="text" name="title" class="manage-form__input" placeholder="Title...">
  </label>
  <label>
    <span class="manage-form__text">Text</span>
    <textarea name="text" class="manage-form__textarea" placeholder="Text..."></textarea>
  </label>
  <button type="submit" class="btn">Add</button>
</form>     
{% endblock %}
